#divGrande{

	/*
	background-image:url(goku.jpg);
	background-repeat: no-repeat;
	background-size:421px 211px;
	*/
	position:absolute;
	top: 10px;
	left:700px;
	border:3px solid red;
	height:315px;
	width:421px;
/*
	-webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;


*/
opacity:1;
  transition:opacity 0.1s  linear;	
}

#primerDiv{
	height:60px;
	width:375px;
	position: absolute;
	top: 210px;
	left:10	;
	padding:20px;
}

.img:hover{
	opacity: 0.5;
	
	transition:opacity 0.1s  0s linear;	

}


body{
	background-color:	#EDEEED;

}

.img{
	height:211px;
	width:421px;
}




