#divGrande{

 	background-image:url(goku.jpg)
    background-size:421px 211px;
	position:absolute;
	top: 10px;
    left:700px;
	border:3px solid red;
	height:315px;
	width:421px;
	
 	 
 
}

#primerDiv{
	height:60px;
	width:375px;
	position: absolute;
    top: 210px;
    left:10	;
    padding:20px;
    /*
    border:3px solid blue;
    color:blue;
    */
}
/*
#divGrande :hover{
	opacity: 0.5;
	overflow: auto;	

    
 }
*/
#divGrande :hover{
    /*opacity: 1;
    right: 0;
    */

  	filter: alpha(opacity=50);
 	opacity: 0.5;
 }

.img{
	height: 211px;
	width:421px;
	
}

body{
	/*background-color:	#EDEEED;*/
	
}





